{% extends 'NitraThemeBundle::base_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}
           
{% block javascript_head %}
    {{ parent() }}
        
{% endblock %}
{% block title %}Синхронизация ТК{% endblock %}
                {% block logo %}
<div class="logo">
    Nitra Logo
</div>
                {% endblock %}
