parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     delivery_sync
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            ru
    secret:            921b17afa7fc6b15f6f3ef27d37af855
    
    # Настройки ТК Новая Почта
    novaposhta:
        # ID эталона страны в которой находится ТК
        country_id: 1
        # ID ТК в справочнике ТК
        delivery_id: 1
        # токен идентификатор в API ТК Новая Почта
        api_token: eaef11faf4f803367bb194f84180c5b8
        # ссылка Api
        api_url: http://orders.novaposhta.ua/xml.php

    # Настройки ТК ИнТайм
    intime:
        # ID эталона страны в которой находится ТК
        country_id: 1
        # ID ТК в справочнике ТК
        delivery_id: 2
        # API ТК данные клиента
        soap_id:  7507982
        soap_key: 8f1f4d5a-eaf2-11e3-b0fa-005056a7291e
        soap_url: https://ws.intime.ua/test98/ws/integration.1cws?wsdl

    # Настройки ТК АвтоЛюкс
    autolux:
        # ID эталона страны в которой находится ТК
        country_id: 1
        # ID ТК в справочнике ТК
        delivery_id: 3
        # API ТК данные клиента
        # ссылка Api
        api_url: http://cabinet.autolux.ua/cabinet/api_calculator.php

