{% extends "::base_admin.html.twig" %}

{% block body %}    

    {% block page_title %}
    <header>
        <h1>{{ fixtureHeadline }}</h1>
    </header>
    {% endblock page_title %}

    <div class="admin_list main_content full_size">
        {{ fixtureCode|nl2br }}
    </div>

{% endblock body %}