{% extends_admingenerated "NitraDeliveryBundle:DeliveryCityList:index.html.twig" %}


{% block list_td_column_name %}
    <div><b>{{ DeliveryCity.name }}</b></div>
    <div><em>{{ DeliveryCity.getDepartments[0].getDeliveryService.name }}</em></div>
{% endblock %}